@using BlazorGameQuestClassLib
@using MudBlazor
@inject DonjonService DonjonService

@inject HttpClient Http
@inject IDialogService DialogService

<MudPaper Class="w-80" Style="max-width: 350px;">

    <MudList T="string">

        <MudListItem Icon="@Icons.Material.Filled.Download" Text="Charger map">
            <NestedList>
                <MudIconButton Icon="@Icons.Material.Filled.Refresh" Size="Size.Small" OnClick="@GetListDonjon"
                    Style="margin-left:auto;" />
                <div style="max-height:300px; overflow:auto; padding:0;">
                    @if (ListDonjons == null)
                    {
                        <MudText Class="pa-2">Chargement...</MudText>
                    }
                    else if (ListDonjons.Length == 0)
                    {
                        <MudText Class="pa-2">Aucun donjon trouvé</MudText>
                    }
                    else
                    {
                        <MudList Dense="true">
                            @foreach (var donjon in ListDonjons)
                            {
                                <MudListItem Text="@donjon" Icon="@Icons.Material.Filled.Folder"
                                    @onclick="() => GetDonjonByName(donjon)" />
                            }
                        </MudList>
                    }
                </div>
            </NestedList>
        </MudListItem>
        <MudListItem @onclick="OpenDialog" Text="Déployer map" Icon="@Icons.Material.Filled.Send" />




        <MudDivider />

        <MudListItem Icon="@Icons.Material.Filled.Image" Text="Map Assets">
            <NestedList>
                <div style="max-height:300px; overflow:auto; padding:0;"> <!-- conteneur scrollable -->
                    <MudGrid>
                        @for (int i = 0; i < GameAsset.ListMapTile.Count(); i++)
                        {
                            var index = i;
                            bool isSelected = selectedTile == index;
                            string mapTile = GameAsset.ListMapTile[i];
                            <MudItem>

                                <img src=@mapTile alt=@($"Tile {index:D3}") width="32px" height="32px"
                                    style=@($"object-fit:cover; border:2px solid {(isSelected ? "red" : "#ccc")}; margin:0; cursor:pointer;") @onclick="() => TileOnClick(index)" />
                            </MudItem>
                        }
                    </MudGrid>
                </div>
            </NestedList>
        </MudListItem>

@* 
        <MudListItem Icon="@Icons.Material.Filled.Image" Text="Mob Assets">
            <NestedList>
                @if (GameAsset.ListMobTile != null && GameAsset.ListMobTile.Count > 0)
                {
                    <MudGrid>
                        @for (int i = 0; i < GameAsset.ListMobTile.Count; i++)
                        {
                            var index = i;
                            bool isSelected = selectedTile == index;
                            string mapTile = GameAsset.ListMobTile[i];
                            <MudItem>
                                <img src=@mapTile alt=@($"Tile {index:D3}") width="32px" height="32px"
                                    style=@($"object-fit:cover; border:2px solid {(isSelected ? "red" : "#ccc")}; margin:0; cursor:pointer;") @onclick="() => TileOnClick(index)" />
                            </MudItem>
                        }
                    </MudGrid>
                }
                else
                {
                    <p>No tiles available</p>
                }
            </NestedList>
        </MudListItem> *@
        @* <MudImage Src="assets/DungeonAssets/2D Pixel Dungeon Asset Pack/Dungeon_Character_at.png" Alt="Here's Johnny" Elevation="25" Class="rounded-lg ma-4" FallbackSrc="images/mony.jpg" /> *@


    </MudList>
</MudPaper>


@code {
    private int? selectedTile = null;
    private string LastMapName = string.Empty;
    private string[]? ListDonjons;
    [Parameter] public EventCallback<Donjon> OnDonjonSelected { get; set; }

    [Parameter] public required Donjon donjon { get; set; }


    protected override async Task OnInitializedAsync()
    {
        ListDonjons = await DonjonService.GetListDonjon();
    }
    private void TileOnClick(int index)
    {
        selectedTile = selectedTile == index ? null : index;
        GameAsset.currentMapTile = selectedTile;

        Console.WriteLine("tile : " + GameAsset.currentMapTile);
    }

    private async Task GetListDonjon()
    {
        ListDonjons = await DonjonService.GetListDonjon();
        StateHasChanged();
    }
    private async Task GetDonjonByName(string donjonName)
    {
        Donjon? loadedDonjon = await DonjonService.GetDonjon(donjonName);
        if (loadedDonjon != null)
        {
            donjon = loadedDonjon;
            Console.WriteLine(donjon);
            await OnDonjonSelected.InvokeAsync(loadedDonjon);
        }
    }
    private async Task OpenDialog()
    {
        var parameters = new DialogParameters<DeployMapDialog> { { x => x.donjon, donjon } };
        var dialog = await DialogService.ShowAsync<DeployMapDialog>("deploy map", parameters);
        var result = await dialog.Result;
        if (result is not null && !result.Canceled && result.Data is Donjon d)
        {
            donjon.Difficulty = d.Difficulty;
            donjon.Name = d.Name;
            await SaveDonjon(donjon);
        }
    }
    private async Task SaveDonjon(Donjon donjon)
    {
        await DonjonService.SaveDonjonAsync(donjon);

    }

}